{{>header}}
<section class="info-section">
    <div class="login-stats">
        <h1>Carrito</h1>
    </div>
    </div>
    <div class="tbl-content" style="
    height: auto;
    margin: 50px auto;
    width: 60%;">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr class="tr-h">
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th style="width: 120px;">Eliminar</th>
                </tr>
            </thead>
            <tbody class="tbody-cart">
            </tbody>
        </table>
        <div class="total-cart">
            <h3>Total: <span class="total-cart-price">0</span></h3>
            <button class="button-23 total-cart-pedido" onclick="order()">Realizar pedido</button>
        </div>
    </div>
</section>

