<header class="login-stats datos">
    <div>
        <i></i>
        <button
            class="logoutButtom infoButton"
            onclick="location.href='/info'"
        >Info</button>
    </div>
    <h1>Bienvenido!</h1>
    <div>
        <i>{{nombre}}</i>
        <button
            class="logoutButtom"
            onclick="location.href='/logout'"
        >Logout</button>
    </div>
</header>