<section>
    <form id="form" class="form-prod" onsubmit="sendForm();return false;">
        <h1>Registrar producto</h1>
        <img src="./src/img/prod.png" alt="box" />
        <label for="nombre">
            <span>
                Nombre
            </span>
            <input type="text" id="nombre" required />
        </label>
        <label for="precio">
            <span>
                Precio
            </span>
            <input type="number" id="precio" required />
        </label>
        <label for="url">
            <span>
                Imagen URL
            </span>
            <input type="url" id="url" required />
        </label>
        <input type="submit" />
    </form>
</section>