<div class="form-prod login-error">
    <h1>ERROR EN REGISTRO</h1>
    <p>{{error}}</p>
    <div>
        <button
            class="logoutButtom"
            onclick="location.href='/register'"
        >VOLVER A INTENTAR</button>
    </div>
</div>