<div class="form-prod login-error">
    <h1>LOGIN ERROR</h1>

    <div>
        <button
            class="logoutButtom"
            onclick="location.href='/'"
        >VOLVER A INTENTAR</button>
    </div>
</div>