{{>header}}
<section>
    <div>
        <div>
            <div class="inicioEdad-categoria">
                <h1>Productos</h1>
            </div>
            <form class="searchForm">
                <input type="search" id="searchbox" placeholder="Buscar...">
            </form>
            <div class="div-tienda">
                <div>
                    <div>
                        <div class="render-productos">

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>