<section>
    <form id="form" class="form" onsubmit="return sendForm()">
        <h1>Registrar producto</h1>
        <img src="./src/img/prod.png" alt="box">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre">
        <label for="precio">Precio</label>
        <input type="number" id="precio">
        <label for="url">Imagen URL</label>
        <input type="url" id="url">
        <input type="submit" >
    </form>
</section>