<div class="logout">
    <h1>CIERRE DE SESSION COMPLETO!</h1>

    <div>
        <button
            class="logoutButtom"
            onclick="location.href='/'"
        >INICIO</button>
    </div>
</div>