<div>
    <form
        class="form-prod login"
        action="/register"
        method="post"
        role="form"
        autocomplete="off"
    >
        <h1>REGISTRO</h1>
        <img src="./src/img/login.png" alt="box" />
        <label for="username">Usuario</label>
        <input
            id="username"
            name="username"
            placeholder="Usuario"
            class="form-control"
            type="text"
            required
        />

        <label for="password">Contraseña</label>
        <input
            id="password"
            name="password"
            placeholder="Contraseña"
            class="form-control"
            type="password"
            required
        />
        <input class="btn btn-success my-3" type="submit" value="Enviar" />
    </form>
    <div class="res">
        <span> ¿Ya tienes cuenta? </span>
        <a href="/login">Inicia sesión</a>
    </div>
</div>