<div class="login-stats">
    <h1>Bienvenido!</h1>
    <div>
        <i>{{nombre}}</i>
        <button
            class="logoutButtom"
            onclick="location.href='/logout'"
        >Logout</button>
    </div>
</div>