@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
    background: #0c4b45;
    font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px grey;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px white;
}
a {
    text-decoration: none;
}
