<section class="chat">
	<div class="chat-content">
		<h2>Centro de mensajes</h2>
		<input type="text" id="username" placeholder="example@gmail.com" />
		<br>
		<div id="messages"></div>
		<br>
		<form onsubmit="return addMessage(this)">
			<input type="text" id="texto" placeholder="Cuéntanos algo..." />
			<input type="submit" id="send" value="Enviar" />
		</form>
		<br>
	</div>
</section>